body {
  background-color: #161616;
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: #f8f9fa;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.movie-card {
  background-color: #565656;
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}


.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #ffffff56;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #161616;
  display: flex;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.filter-container {
  background-color: #565656;
  border-radius: 8px;
  padding: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: auto;
}

.filter-container input, select {
  margin-left: 10px;
}

.fav-check {
  height: 20px;
  width: 20px;
}

.add-container {
  background-color: #565656;
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 10px;
  justify-content: space-around;
  padding: 10px;
  width: 80vw;
}

.add-container input, select, textarea {
  margin-left: 10px;
}